/* ============== COMMON-STYLES ============== */ 

h1, h2, h3, p {
    margin-top: 0; 
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
font-family: 'Roboto', sans-serif;
color: #434455;
background: #FFF;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

img {
display: block;
max-width: 100%;
height: auto;
}

/* ============== /COMMON-STYLES ============== */

/* =================== HEADER ================= */

.page-header {
border-bottom: 1px solid #E7E9FC;
}


.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
}

.logo {
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
}

.logo-studio {

    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    
}

.menu {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    gap: 40px;
 
}

.menu-link {
    
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
color: #2E2F42;
padding: 24px 0;
display: block;

}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

/* ================= /HEADER ================= */

/* =============== SECTION TITLE =============== */

.section-title {
    background: #2E2F42;
    padding: 188px 0;
    flex-shrink: 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office.jpg");
    background-size: cover; 
    margin: 0 auto;
            max-width: 1440px;
        
}

.main-title {
    text-align: center;
    max-width: 496px;
    font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
        }


.main-button {
color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 16px 32px;
border: none;
border-radius: 4px;
min-width: 169px;}

.main-button:hover,
.main-button:focus
 {
    background: #404BBF;
}

/* ============= /SECTION TITLE =============== */

/* ============= SECTION FEATURES ============= */

.section-features {
    padding-top: 120px;
    padding-bottom: 120px;
  
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.features-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
 }

.features-list {
    display: flex;
    gap: 24px;

 }

.features-list-item {
    width: calc((100% - 72px) / 4);
}

.futuares-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
        border: 1px solid #8E8F99;
        background: #F4F4FD;
        margin-bottom: 8;
}

.futuares-icon-antenna {
   
    
}

/* ============= /SECTION FEATURES ============= */

/* ================ SECTION TIAM =============== */

.section-team {
    background: #F4F4FD;
}

.main-team, 
.main-portfolio {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-card {
    display: flex;
    gap: 24px;
}

.team-card-item {
background-color: #FFFFFF;
gap: 24px;
border-radius: 0px 0px 4px 4px;

}

.team-image,
.portfolio-image {
    background: #d3d3d3;
}

.team-name-position {
    padding: 32px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
}

.team-person {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
    }

    .social-list {
      display: flex;  
      gap: 24px;
      margin-top: 8px;
      margin-bottom: 32px;
        justify-content: center;
            align-items: center;
    }

    .social-list-icon {
fill: rgba(244, 244, 253, 1);

    }
    .social-list-item {
        width: 40px;
        height: 40px;
    }
        .social-list-link {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            background-color: #4D5AE5;
            display: flex;
            justify-content: center;
            align-items: center;
            transition-property: backround-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;


        }

        .social-list-link:hover,
        .social-list-link:focus {
stroke: rgba(64, 75, 191, 1);
        }


/* ================ /SECTION TIAM =============== */

/* ============== SECTION PORTFOLIO ============ */

.project-card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
    .project-portfolio {
            padding: 32px 16px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border: 1px solid #E7E9FC;
            border-top: none;
        }
    

.project-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;

    .project-text {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }

}
/* ============== /SECTION PORTFOLIO ============ */



/* ================== FOOTER ===================== */

.section-footer {
background: #2E2F42;
padding: 100px 0;
}

.logo-footer {
font-family: 'Raleway', sans-serif;
    font-size: 18px;
    display: inline-block;
        margin-bottom: 16px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
   }

.logo-studio-footer {
    
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
}

.footer-text {
      font-size: 16px;
      max-width: 264px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}

/* ================== /FOOTER ===================== */